.form-control {
  display: inline-block !important;
  width: 90% !important;
}

.btn-primary,
.btn-danger {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  padding: 6px !important;
  float: right !important;
  min-width: 100px !important;
}
